.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  max-width: 120px;
  margin-left: 0.8rem;
  padding: 0;
}

.logo > img {
  max-width: 100%;
}

.navbar-collapse {
  margin-left: 4rem;
}

.menu a {
  color: #c6f4f1;
  font-size: 1.1rem;
}

.cart {
  margin-right: 1rem;
  max-width: 50px;
  padding: 0;
}

.cart-widget > span {
  font-size: 0.8rem;
  color: #c6f4f1;
  font-weight: 700;
}

.cart-widget > img {
  max-width: 20px;
}
